body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #E7717D;
}

.login-box {
/* background-color: #C2CAD0; */
min-height: 60vh;
padding-top: 5%;
/* border: 2px solid red; */
margin: auto;
padding-bottom: 2%;
}

.logout-box {
  /* background-color: #C2CAD0; */
  min-height: 60vh;
  padding-top: 5%;
  /* border: 2px solid red; */
  align-items: center;
  margin: auto;
  padding-bottom: 2%;
  }

.add-event-main-box {
/* background-color: #C2CAD0; */
min-height: 60vh;
padding-top: 5%;
/* border: 2px solid red; */
margin: auto;
padding-bottom: 2%;
}
.add-event-main-grid {
/* padding-top: 5%;
text-align: center;
border: 2px solid green; */
margin: auto;
width: 100%;
/* justify-content: center;
display: flex; */
}

.nav-bar-item {
font-size: 15pt;
text-align: center;
padding-top: 5%;
}

.note-div {
padding-top: 10%;
opacity: 0.8;
height: 250px;
}

a:link {
  text-decoration: none;
  color: #7e685a;
}
a:visited {
  text-decoration: none;
  color: #7e685a;
}
a:hover {
  text-decoration: none;
  color: #7e685a;
}
a:active {
  text-decoration: none;
  color: #7e685a;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  text-align: center;
  color: white;
}